  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; <%= Time.zone.now.year %><a href="http://www.anexosolucoes.com.br/" target="_blank">Karlysson Alves</a>.</strong> Todos direitos reservados.
  </footer>